.lamp__list, .lamp__title, .car__list, .social__list, .features__list, .address__list, .nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.social__link, .viber__link, .address__link, .nav__link, .logo {
  text-decoration: none;
}

.car__title, .social__title, .features__title, .title {
  margin-top: 0;
  margin-bottom: 0;
}

.footer, .features, .hero, .header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: rgb(7, 48, 48);
  background-color: #ccc;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  color: blue;
  font-size: 35px;
  font-weight: 700;
}

.nav {
  margin-left: 90px;
  font-size: 20px;
  font-weight: 500;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 200px;
}

.nav__link {
  color: black;
}

.address {
  margin-left: 30px;
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.9)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero_btn {
  display: block;
  margin: 30px auto;
  color: brown;
  font-size: 24px;
  padding: 10px 20px;
  background-color: blue;
  border-radius: 5px;
}

.viber {
  display: inline-block;
  margin: 20px 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding: 20px 30px;
  width: 250px;
  height: auto;
  border-radius: 5px;
  color: rgb(36, 24, 121);
  font-size: 36px;
  font-weight: 500;
  background-color: rgb(214, 156, 210);
  cursor: pointer;
}

.viber__link {
  color: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--logo-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  color: var(--links-color);
}

.close-button {
  fill: currentColor;
}

.form.order-input {
  padding: 40px;
}

.form.title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.form-label:focus-within > .form-input,
.form-label:focus-within > .comment-input {
  outline: none;
  border-color: var(--links-color);
}

.form-label:focus-within > .form-icon {
  fill: var(--links-color);
}

.form-label.comment {
  margin-bottom: 20px;
}

.comment-input {
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.comment-input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
}

.form-label.checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-checkbox:checked ~ .check-icon {
  background-image: url(../images/check.svg);
  background-color: var(--links-color);
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid var(--links-color);
}

.contract {
  color: var(--links-color);
  margin-left: 5px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color);
}

.form.button {
  display: block;
  width: 200px;
  padding: 10px 52px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

.features {
  margin-top: 50px;
  background-color: antiquewhite;
}

.features__title {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 150px;
  color: blue;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social--card {
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 24px;
}

.social__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  width: 44px;
  height: 44px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50%;
  text-align: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: grey;
  background-color: white;
}
.social__link:hover, .social__link:focus {
  color: white;
  background-color: blue;
}

.social__icon {
  fill: currentColor;
}

.social__title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social--end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .social--end {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .social--end {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .social--end {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.social__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.car {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: burlywood;
}

.car__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.car__title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
}

.car__icon {
  --color4: burlywood;
  --color34: red;
}

.lamp {
  background-color: rgb(225, 185, 185);
  padding-top: 30px;
  padding-bottom: 30px;
}
.lamp__title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 47px;
  font-weight: 500;
  color: rgb(142, 49, 35);
}
.lamp__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.lamp__item {
  padding: 20px;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.lamp__img {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
.lamp__name {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(11, 41, 107);
}/*# sourceMappingURL=main.css.map */