.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  @extend %--title;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero_btn {
  display: block;
margin: 30px auto;
  color: brown;
  font-size: 24px;
  padding: 10px 20px;
  background-color: blue;
  border-radius: 5px;
}

.viber {
  display: inline-block;
  margin: 20px 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 20px 30px;
  width: 250px;
  height: auto;
  border-radius: 5px;
  color: rgb(36, 24, 121);
  font-size: 36px;
  font-weight: 500;
  background-color: rgb(214, 156, 210);
  cursor: pointer;
}

.viber__link {
  @extend %--link;
  color: currentColor;
}