.lamp {
background-color: rgb(225, 185, 185);
padding-top: 30px;
padding-bottom: 30px;
		// .lamp__title

		&__title {
      padding-top: 30px;
      padding-bottom: 30px;
      @extend %--list;
      text-align: center;
      font-size: 47px;
      font-weight: 500;
      color: rgb(142, 49, 35);
		}

		// .lamp__list

		&__list {
      @extend %--list;
      display: flex;
      flex-wrap: wrap;
gap: 30px;
justify-content: center;
		}

		// .lamp__item

		&__item {
         padding: 20px;
            flex-basis: calc((100% - 90px) / 4);
            background-color: #fff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
		}

		// .lamp__img

		&__img {
      display: block;
      height: 150px;
margin-left: auto;
margin-right: auto;
		}

		// .lamp__name

		&__name {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: rgb(11, 41, 107);
		}
}
