%--list {
    list-style: none;
  padding-left: 0;
  margin: 0;
}

%--link {
  text-decoration: none;
}

%--title {
    margin-top: 0;
  margin-bottom: 0;
}

%--section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}